body {
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    
}

#menu {
    list-style: none;
    top: 0px;
    z-index: 500;
    position: fixed;
    background-color: black;
    width: 100%;
    margin-top: 0px;
    margin-left: 0px;
    left: 0;
}


.item {
    float: left;
    padding: 5px;
}

a {
    text-decoration: none;
    color: white;
}


.linha {
    height: 6px;
    background-color: #000;
    width: 70px;
    margin: 8px auto;
    border-radius: 8px;
}